body {
  background-color: lightgreen;
}
.graph-container {
  display: flex;
  justify-content: space-around;
}

.graph {
  width: 30%;
  height: 50%;
}

.gauge-container {
  display: flex;
  justify-content: space-around;
}

.gauge {
  width: 30%;
  height: 50%;
}

h1 {
  text-align: center;
}
